<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
</head>
<body>
<div th:replace="fragments/header :: header"/>
<form action="#" th:action="@{/mvc/book/insert}" th:object="${book}" method="post">
    <table border="1">
        <thead>
        <tr>
            <td>
                <label for="name">Name</label>
                <input type="text" th:field="*{name}" id="name" placeholder="Name">
                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
            </td>
        </tr>
        <tr>
            <td>
                <label for="publishingYear">PublishingYear</label>
                <input type="text" th:field="*{publishingYear}" id="PublishingYear" placeholder="PublishingYear">
                <span th:if="${#fields.hasErrors('publishingYear')}" th:errors="*{publishingYear}"></span>
            </td>
        </tr>
        <tr>
            <td>
                <label for="annotation">Annotation</label>
                <input type="text" th:field="*{annotation}" id="annotation" placeholder="Annotation">
                <span th:if="${#fields.hasErrors('annotation')}" th:errors="*{annotation}"></span>
            </td>
        </tr>
        <tr>
            <td>
                <label for="authors">Authors</label>
                <input type="text" th:field="*{authors}" id="authors" placeholder="Authors">
                <span th:if="${#fields.hasErrors('authors')}" th:errors="*{authors}"></span>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Add Book">
            </td>
        </tr>
        </tbody>
    </table>
</form>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>
