<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Book List</title>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<h1>Book List</h1>
<a href="/mvc/book/add">Add Book</a>
<br/><br/>
<table border="1">
    <thead>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>publishingYear</th>
        <th>annotation</th>
        <th>authors</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each ="book : ${books}">
        <td th:utext="${book.id}"></td>
        <td th:utext="${book.name}"></td>
        <td th:utext="${book.publishingYear}"></td>
        <td th:utext="${book.annotation}"></td>
        <td th:utext="${book.authors}"></td>
        <td><a th:href="@{/mvc/book/edit/(id=${book.id})}">Edit</a></td>
        <td><a th:href="@{/mvc/book/delete/(id=${book.id})}">Delete</a></td>
    </tr>
    </tbody>
</table>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>
