<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
>
<head>
   <meta charset="UTF-8">
</head>
<body>
   <div th:replace="fragments/header :: header"/>
   <div class="container">
      <div class="navbar-collapse collapse">
         <ul class="nav navbar-nav">
            <li th:classappend="${module == 'authors' ? 'active' : ''}">
               <a href="#" th:href="@{/mvc/author}">Authors</a>
            </li>
            <li th:classappend="${module == 'books' ? 'active' : ''}">
               <a href="#" th:href="@{/mvc/book}">Books</a>
            </li>

            <li th:classappend="${module == 'customers' ? 'active' : ''}">
               <a href="#" th:href="@{/mvc/customer}">Customers</a>
            </li>

            <li th:classappend="${module == 'orders' ? 'active' : ''}">
               <a href="#" th:href="@{/mvc/order}">Orders</a>
            </li>

            <li th:classappend="${module == 'reports' ? 'active' : ''}">
               <a href="#" th:href="@{/mvc/report}">Reports</a>
            </li>
         </ul>
      </div>
   </div>
   <div th:replace="fragments/footer :: footer"/>
</body>
</html>
