<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:c="http://www.w3.org/1999/XSL/Transform">
<head>
    <meta charset="UTF-8" />
    <title>Report List</title>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<h1>Report List</h1>
<br/><br/>
<table border="1">
    <thead>
    <tr>
        <th>Report</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Type 1</td>
        <td><a th:href="@{/mvc/report/(type=1)}">get</a></td>
    </tr>

    <tr>
        <td>Type 2</td>
        <td><a th:href="@{/mvc/report/(type=2)}">get</a></td>
    </tr>
    </tbody>
</table>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>
